body {
    text-align: center;
    background-image: linear-gradient(to top, #000000, #e77aff);
}
p {
    color: #ffffff;
    background-color: #2b0139;
    font-family: 'Nova Cut','Times New Roman', 'serif';
    border: 2px dotted #00a960;
}
h1 {
    font-family: 'Pirata One','Helvetica', 'serif';
    font-size: 70px;
    color: #ffffff;
    background-color: #000000;
}
img {
    width: 100%; height: auto;
}